useDynLib("shapeQTL", .registration = TRUE, .fixes = "C_")
# Import dependencies
import(qtl, MASS, parallel)
# Export
export(scanoneShape)
export(update.cross)
export(getGeno)
export(asShapeArray)
export(fitqtlShape)
export(effectsizeShape)
export(plot.shapeEffect)
export(stepwiseqtlShape)
